*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
    ),
    url('futuristic-background-design_23-2148503793.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 250px;
    cursor: pointer;
    border-radius: 90px;
    box-shadow: 0px 1px 8px rgb(161, 188, 37);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
    padding: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.navbar ul li:hover{
    border-radius: 60px;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 1px 1px 5px rgb(220, 108, 3);
    transform: scale(1.1);
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    cursor: pointer;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.profile-box{
    color: white;
    width: 80%;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
}

.profile-pic{
    height: 430px;
    border-radius: 50%;
    border: 0.5px solid rgb(7, 45, 84);
    box-shadow: 4px 4px 10px rgb(20, 98, 175);
    cursor: pointer;
}

.profile-pic:hover{
    transform: scale(1.2);
    transition: all 1.5s;
    box-shadow: 8px 8px 20px rgb(20, 98, 175);
    border: none;
}

.profile-info{
    margin-left: 25px;
    border-left: transparent;
    border-bottom: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -15px 5px 1px rgb(161, 79, 79);
}

.profile-info h1{
    font-size: 40px;
    color: #BED754;
}

.profile-info h2{
    font-size: 30px;
    color: #99A8B2;
}

.profile-info h3{
    font-size: 25px;
    color: #E6D5B8;
}

.profile-info h4{
    font-size: 20px;
    color: #F1D4D4;
}

.aboutme-1 {
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px rgb(192, 205, 52);
}

section {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.about-me{
    color: #d13f69;
    font-size: 45px;
}

.hello{
    color: #82bd6f;
    padding: 3px;
    font-size: 35px;
}

.para{
    line-height: 1.6;
    color: #D4ECDD;
    padding: 5px;
    font-size: 20px;
}

.contact-me{
    max-width: 450px;
    margin: 40px auto;
    background-color: transparent;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 0px 20px white;
}

.cont-act{
    color: rgb(9, 184, 164);
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 35px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: bisque;
    font-size: 17px;
    font-weight: 700;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(67, 181, 167);
    border: 1px solid rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 50px;
}

input[type="submit"]:hover {
    background-color: rgb(24, 148, 134);
}

.skill-header {
    background-color: transparent;
    padding: 20px;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    border-radius: 40px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px rgb(174, 185, 51);
}

.skill-heading {
    color: rgb(129, 220, 38);
    word-spacing: 4px;
}

.skill-section {
    padding: 15px;
}

.skill-head {
    width: 35%;
    margin: auto;
    color: #d9a743;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(199, 199, 199, 0.8);
}

.skill-para {
    color: #ffffff;
    margin-top: 20px;
}

.skill-ul {
    list-style-type: none;
}

.skill-list {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(199, 199, 199, 0.5);
}